<footer class="footer">
<section class="footer__contact">
    <div class="footer__contact--div">
        <div class="footer__contact--div--divTitle">
            <i class="fa-solid fa-envelope-open-text"></i>
            <h2 class="footer__contact--div--divTitle--h2">Contacto</h2>
        </div>
        <p class="footer__contact--div--text">Teléfono: 659581744</p>
        <div class="footer__contact--div--icons">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>
    </div>
    <form class="footer__form" action="#">
        <label class="footer__form--label"for="">Nombre</label>
        <input class="footer__form--input" type="text">
        <label class="footer__form--label" for="">Email</label>
        <input class="footer__form--input" type="email">
        <label class="footer__form--label" for="">Mensaje</label>
        <input class="footer__form--input" type="text" name="" id="">
        <input class="footer__form--button" type="submit" value="Enviar">
    </form>
</section>
</footer>
