<footer class="footer">
<section class="footer__contact">
    <div class="footer__contact--div">
        <div class="footer__contact--div--divTitle">
            <i class="fa-solid fa-envelope-open-text"></i>
            <h2 class="footer__contact--div--divTitle--h2">Contact</h2>
        </div>
        <p class="footer__contact--div--text1">Let's get in touch</p>
        <p class="footer__contact--div--text2">nuricodesal@gmail.com</p>
        <div class="footer__contact--div--icons">
            <a class="linkedin" href="https://www.linkedin.com/in/nuria-casta%C3%B1o-codesal/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="github" href="https://github.com/Nuriacode"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <form class="footer__form" action="#">
        <label class="footer__form--label"for="name">Name</label>
        <input class="footer__form--input" id="name" type="text">
        <label class="footer__form--label" for="email">Email</label>
        <input class="footer__form--input" id="email" type="email">
        <label class="footer__form--label" for="message">Message</label>
        <input class="footer__form--input" type="text" id="message">
        <input class="footer__form--button" type="submit" value="send">
    </form>
</section>
</footer>
