<header class="header">
  <nav class="header__sectionOne">
    <img class="header__sectionOne--img" src="" alt="Logo" />
    <ul class="header__sectionOne--ul">
      <li>Sobre mí</li>
      <li>Habilidades</li>
      <li>Experiencia</li>
      <li>Trabajos</li>
    </ul>
  </nav>
  <section class="header__sectionTwo">
    <h1 class="header__sectionTwo--title typed">Hola, soy Nuria</h1>
    <h3 class="header__sectionTwo--job">
      Web developer | Diseñadora | Marketing Digital
    </h3>
    <p class="header__sectionTwo--desc">
      ¡Bienvenid@ a mi página web!
    </p>
  </section>
</header>
