<header class="header">
  <nav class="header__sectionOne">
    <img class="header__sectionOne--img" src="" alt="Logo">
    <ul class="header__sectionOne--ul">
        <li>About me</li>
        <li>Skills</li>
        <li>Experience</li>
        <li>Works</li>
    </ul>
</nav>
  <section class="header__sectionTwo">
    <h1 class="header__sectionTwo--title typed">Hola, soy Nuria</h1>
    <h3 class="header__sectionTwo--job">Web developer | Diseñadora | Marketing Digital</h3>
    <div class="header__sectionTwo--icons">
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-github"></i>
    </div>
    <p class="header__sectionTwo--desc">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      provident.
    </p>
  </section>
</header>
