<main class="main">
  <section class="main__aboutMe">
    <article class="main__aboutMe__article">
      <div class="main__aboutMe__article--div">
        <div class="main__aboutMe__article--div--divTitle">
        <i class="fa-sharp fa-solid fa-circle-info"></i>
        <h2 class="main__aboutMe__article--div--divTitle--h2">about me</h2>
        </div>
      <p class="main__aboutMe__article--div--text">
        Teamwork, empathy, problem solving, attention to detail, creative thinking, responsiveness, adaptability, management. 
      </p>
      <div class="main__aboutMe__article--div--button">
        <i class="fa-solid fa-download"></i>
        Download Resume
      </div>
      </div>
      <img class="main__aboutMe__article--img"
        src="../assets/images/image-preview-default.jpg" alt="Foto perfil" />
    </article>
  </section>
  <section class="main__skills">
    <div class="main__skills__colum1">
    <article class="main__skills__colum1__article">
      <img class="main__skills__colum1__article--img" src="../assets/images/html5.svg" alt="" />
      <h3 class="main__skills__colum1__article--h3">html5</h3>
      <p class="main__skills__colum1__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </article>
    <article class="main__skills__colum1__article">
      <img class="main__skills__colum1__article--img" src="../assets/images/css3.svg" alt="" />
      <h3 class="main__skills__colum1__article--h3">css3</h3>
      <p class="main__skills__colum1__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </article>
    <article class="main__skills__colum1__article">
      <img class="main__skills__colum1__article--img" src="../assets/images/javascript.svg" alt="" />
      <h3 class="main__skills__colum1__article--h3">Javascript</h3>
      <p class="main__skills__colum1__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </article>
    </div>
    <div class="main__skills__colum2">
      <article class="main__skills__colum2__article">
        <img class="main__skills__colum2__article--img" src="../assets/images/html5.svg"
          alt="" />
        <h3 class="main__skills__colum2__article--h3">html5</h3>
        <p class="main__skills__colum2__article--text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </article>
      <article class="main__skills__colum2__article">
        <img class="main__skills__colum2__article--img" src="../assets/images/css3.svg"
          alt="" />
        <h3 class="main__skills__colum2__article--h3">css3</h3>
        <p class="main__skills__colum2__article--text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
      </article>
      <article class="main__skills__colum2__article">
        <img class="main__skills__colum2__article--img"
          src="../assets/images/javascript.svg" alt="" />
        <h3 class="main__skills__colum2__article--h3">Javascript</h3>
        <p class="main__skills__colum2__article--text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
    </div>
  </section>
  <section class="main__works">
    <div class="main__works--div">
      <i class="fa-solid fa-laptop-code"></i>
      <h2 class="main__works--div--h2">projects</h2>
    </div>
    <p class="main__works--text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
  </section>
  <div class="main__worksImage">
    <div>
      <a href="">
        <img class="main__worksImage--pr" src="../assets/images/pepita-costurera.jpg" alt="Project 1">
      </a>
    </div>
    <div>
      <a href="">
        <img class="main__worksImage--pr" src="../assets/images/pepita-costurera.jpg"
          alt="Project 2">
        </a>
    </div>
    <div>
      <a href=""><img class="main__worksImage--pr" src="../assets/images/pepita-costurera.jpg"
          alt="Project 3"></a>
    </div>
    <div>
      <a href=""><img class="main__worksImage--pr" src="../assets/images/pepita-costurera.jpg"
          alt="Project 4">
        </a>
    </div>
  </div>
</main>
