<main class="main">
  <section class="main__aboutMe">
    <article class="main__aboutMe_article">
      <img class="main__aboutMe_article--img" src="" alt="Foto Nuria" />
      <h2 class="main__aboutMe_article--h2">Sobre mí</h2>
      <p class="main__aboutMe_article--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
        molestiae magnam quam consequuntur, sed numquam laboriosam voluptatem
        cum nemo? Architecto possimus quos tenetur veniam totam! Cum aperiam
        error assumenda earum!
      </p>
      <div class="main__aboutMe_article--button">Botón descargar CV</div>
    </article>
  </section>
  <section class="main__skills">
    <article class="main__skills__article">
      <img class="main__skills__article--img1" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
        fuga debitis exercitationem velit quam amet maiores modi? Officia, eum
        autem!
      </p>
    </article>
    <article class="main__skills__article">
      <img class="main__skills__article--img2" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
        fuga debitis exercitationem velit quam amet maiores modi? Officia, eum
        autem!
      </p>
    </article>
    <article class="main__skills__article">
      <img class="main__skills__article--img3" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
        fuga debitis exercitationem velit quam amet maiores modi? Officia, eum
        autem!
      </p>
    </article>
  </section>
  <section class="works">
    <h3>Trabajos destacados</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <div>
        <div>trabajo 1</div>
        <div>trabajo 2</div>
        <div>trabajo 3</div>
        <div>trabajo 4</div>
    </div>
  </section>
</main>
