<main class="main">
  <section class="main__aboutMe">
    <article class="main__aboutMe_article">
      <div class="main__aboutMe_article--div">
        <i class="fa-sharp fa-solid fa-circle-info"></i>
        <h2 class="main__aboutMe_article--div--h2">Sobre mí</h2>
      </div>
      <p class="main__aboutMe_article--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
        molestiae magnam quam consequuntur, sed numquam laboriosam voluptatem
        cum nemo? Architecto possimus quos tenetur veniam totam! Cum aperiam
        error assumenda earum!
      </p>
      <div class="main__aboutMe_article--button">
        <i class="fa-solid fa-download"></i>
        Botón descargar CV
      </div>
      <img class="main__aboutMe_article--img"
        src="../assets/images/image-preview-default.jpg" alt="Foto perfil" />
    </article>
  </section>
  <section class="main__skills">
    <article class="main__skills__article">
      <img class="main__skills__article--img" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
      </p>
    </article>
    <article class="main__skills__article">
      <img class="main__skills__article--img" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
      </p>
    </article>
    <article class="main__skills__article">
      <img class="main__skills__article--img" src="" alt="" />
      <h3 class="main__skills__article--h3">Habilidad 1</h3>
      <p class="main__skills__article--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, iusto
        perferendis! Praesentium corporis eum sit nobis! Tenetur facilis nisi
      </p>
    </article>
  </section>
  <section class="main__works">
    <div class="main__works--div">
      <i class="fa-solid fa-laptop-code"></i>
      <h2 class="main__works--div--h2">Trabajos destacados</h2>
    </div>
    <p class="main__works--text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
  </section>
  <div class="main__worksImage">
    <div>trabajo 1</div>
    <div>trabajo 2</div>
    <div>trabajo 3</div>
    <div>trabajo 4</div>
  </div>
</main>
