.main {
  font-family: "PT sans";

  &__aboutMe__article {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--div {
      padding-left: 1.5rem;
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;

      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      &--divTitle {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        &--h2 {
          font-size: 1.5rem;
          text-transform: uppercase;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          @media all and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 5rem;
          }

          .fa-circle-info {
            font-size: 1.2rem;
            color: #39b5e0;
            padding-right: 0.5rem;
          }
        }
      }

      &--text {
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 0.8rem;
        @media all and (min-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      &--button {
        text-transform: uppercase;
        color: white;
        background-color: black;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        width: 10rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: 0.8rem;
        @media all and (min-width: 768px) {
          margin-bottom: 3rem;
        }

        .fa-download {
          padding-right: 0.4rem;
        }
      }
    }

    &--img {
      padding-top: 2rem;
      background-repeat: no-repeat;
      width: 100%;
      @media all and (min-width: 768px) {
        padding-top: 0px;
        width: 40%;
      }
    }
  }

  &__skills {
    color: rgb(226, 226, 226);
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    font-size: 0.8rem;
    padding-bottom: 2rem;
    gap: 2rem;

    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__colum1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;

        &--img {
          background-color: white;
          border-radius: 50%;
          width: 6rem;
          margin-bottom: 0.8rem;
        }

        &--h3 {
          text-transform: uppercase;
          padding-bottom: 0.6rem;
          font-weight: bold;
        }
      }
    }
    &__colum2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;

        &--img {
          background-color: white;
          border-radius: 50%;
          width: 6rem;
          margin-bottom: 0.8rem;
        }

        &--h3 {
          text-transform: uppercase;
          padding-bottom: 0.6rem;
          font-weight: bold;
        }
      }
    }
  }

  &__works {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &--div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      @media all and (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .fa-laptop-code {
        font-size: 1.2rem;
        color: #a31acb;
        padding-right: 0.5rem;
      }
      &--h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
      }
    }

    &--text {
      @media all and (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }

  &__worksImage {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px;
    }

    &--pr {
      width: 100%;
      margin: 0px;
      @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
      }
    }
  }
}
